body
{
  font-family: Arial Narrow, Arial, Helvetica;
  background-color: #1D1C1C;   
  background-repeat:no-repeat;
  background-position: center top;
  color: #DDD;
}
a
{
  color: orange;
}
form
{
  margin: 0;
}
input.text, textarea.text, select.text
{
  width:165px;
  background-color: #333;
  color: #DDD;
  font-weight: bold;
  border: solid 1px #DDD;
}
input.button
{
  background-color: #333;
  color: #FFF;
  border: 2px solid #999;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	width: 175px;
}

.ac_results ul {
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	line-height: 16px;
	overflow: hidden;
	background-color: #333;
	font-size: 0.8em;
}
.ac_odd {
	/* none */
}
.ac_over {
	background-color: #555 !important;
	color: white;
}
.s10 {
  color: #2FEFEF;
}
.s09 {
  color: #47EFBF;
}
.s08 {
  color: #00F048;
}
.s07 {
  color: #00EF00;
}
.s06 {
  color: #90F030;
}
.s05 {
  color: #F0F000;
}
.s04 {
  color: red;
}
.s03 {
  color: red;
}
.s02 {
  color: red;
}
.s01 {
  color: red;
}
.s00 {
  color: red;
}


.d10 {
  border: 1px solid #FFFFFF;
  background-color: #2FEFEF;
}
.d09 {
  color: #47EFBF;
}
.d08 {
  color: #00F048;
}
.d07 {
  color: #00EF00;
}
.d06 {
  color: #90F030;
}
.d05 {
  color: #F0F000;
}
.d04 {
  color: red;
}
.d03 {
  color: red;
}
.d02 {
  color: red;
}
.d01 {
  color: red;
}
.d00 {
  color: red;
}
.error
{
  color: #DD0000;
  font-weight: bold;
}
.dot
{
  background-color: #F0F000; 
  color: black; 
  font-size: 9pt;
  width: 15px;
  text-align: center;
  margin-left: 3px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.routeDot
{
  width: 5px; 
  height: 5px;
  margin-left: 2px;
  display: inline;
  float: left;
  font-size: 1pt;
}
.n
{
  background-color: #F0F000; 
}
.u
{
  background-color: #E4C210; 
}
.p
{
  background-color: #D1B310; 
}


div.infobox {
    border: solid white;
    max-width: 330px;
    float: right;
    margin: 15px;
    padding: 15px;
}
.nullsec {
    display: none;
}
.highlight {
    color: yellow;
}
#quote {
    font-weight: bold;
}
#dest_err {
    color: red;
}